### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### robotframework ###
log.html
output.xml
report.html
*screenshot-*.png
*playwright-log.txt

### node ###
node_modules/

### Dotenv ###
.env